In [2]:
import numpy as np
import pandas as pd

one = pd.DataFrame(np.random.randn(5, 4))
one
two = pd.DataFrame(np.random.randn(5, 4))
two

          0         1         2         3
0  0.438008 -0.019018  0.096091  0.359463
1 -1.970410 -0.876531 -1.902764  0.194568
2 -1.057181 -0.312476 -0.567715 -0.063694
3 -0.279847 -0.140156 -0.658853  0.027775
4  0.956540  2.303758 -0.305644  0.080626

In [2]:
import numpy as np
import pandas as pd

two = pd.DataFrame(np.random.randn(5, 4))
two

          0         1         2         3
0 -2.235577  0.170846 -0.907171  0.100243
1 -0.215019  1.741071  0.026723 -0.527829
2 -1.049136 -0.122725  0.321466  1.543753
3  0.040436  0.860637  0.838686 -1.090401
4 -0.927832 -0.466587  0.338884  1.629454